/* Páginas: Login & Register */

.login-logo,
.register-logo {
  margin-bottom: 0.9rem;
  font-size: 2.1rem;
  font-weight: 300;
  text-align: center;
}

.login-logo a,
.register-logo a {
  color: #6c757d; /* Color secundario */
  text-decoration: none;
}

.login-page,
.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Estilo del contenedor principal de la caja de login */
.login-box,
.register-box {
  width: 360px;
  margin-top: 1rem; /* Espacio superior para la caja */
}

@media (max-width: 576px) { /* Ajuste para pantallas pequeñas */
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 0.5rem;
  }
}

.login-box .card,
.register-box .card {
  margin-bottom: 0;
}

/* Estilo específico para el encabezado */
.card-header {
  margin-bottom: 2rem; /* Espacio inferior para separar del contenido de abajo */
  text-align: center;
}

/* Eliminar subrayado y negrita en el enlace */
.card-header a {
  text-decoration: none;
  color: #343a40; /* Cambia el color si es necesario */
  font-weight: normal;
}

/* Ajuste de encabezado para mayor espacio y sin negrita */
.card-header h1 {
  margin-bottom: 1rem; /* Espacio debajo del título */
  font-weight: normal; /* Quita la negrita */
  font-size: 2rem; /* Ajusta el tamaño si es necesario */
}

.login-card-body,
.register-card-body {
  padding: 20px;
  color: #6c757d; /* Color secundario */
  background-color: #f8f9fa; /* Fondo claro */
  border-top: 0;
}

.login-box-msg,
.register-box-msg {
  padding: 0 20px 20px;
  margin: 0;
  text-align: center;
}

/* Grupo de entrada */
.input-group .form-control:focus {
  box-shadow: none;
}

.input-group-text {
  color: #6c757d;
  background-color: transparent;
}

/* Enlaces de autenticación social */
.social-auth-links {
  margin: 10px 0;
}

.social-auth-links a {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

p.mb-1,
p.mb-0 {
  margin-top: 1rem; /* Ajusta espacio entre enlaces de texto */
}
